body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(16, 16, 42);
  color: white;
  margin: 80px;
  font-family: "Nunito", sans-serif;
}

img {
  width: 17%;
  border-radius: 100%;
}

.footer {
  background-color: black;
  color: white;
  padding: 21.5vh;
  margin: -8px;
}
h1 {
  font-size: 2em;
  color: white;
}

a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px; /* Adiciona margem entre os botões */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #f5f5f5; /* Cor da borda */
  color: #fefefe; /* Cor do texto */
  background-color: transparent; /* Fundo transparente */
  transition: color 1s ease-in-out;
}

a:hover {
  background-color: rgb(21, 38, 99);
  color: rgb(217, 197, 197);
}
